.search-box .fa-search {
    margin-left: -25px;
}
.search-box input{
    padding: 5px;
    font-size: 15px;
}
.estrenos img{
    width: 160px;
    
    height: 190px;
 
margin: 15px;
    
}

header span {
    font-size: 13px;
    margin-left: 26px;
    position: absolute;
    top: 40px;
    color: darkgray;
}
.estrenos .row
{
    background-color: #E6AD1C;
    width: 1215px;
    margin-left: -150px;
      
}
hr {
    margin-bottom: 20px;
    margin-top: 25px;
    color: darkgray;
}

.cartelera img{
    width: 230px;
    margin-top:10px;
    height: 250px;
    margin-left: -70px;
    
}


.hero .banner{

    background: #333 url(../img/banner.jpg)no-repeat;
    background-size:contain;
    width: 1215px;
    margin-left: -150px;
    height: 350px;
    
}





.hero img {
   
    margin-top: 160px;
    margin-left: 180px;
    width: 50px;
    
}
.trailer iframe
{
  width: 1215px;
   margin-left: -151px;
    
}
.movie-info;
{
    padding-top: 20px;
    padding-bottom: 20px;
 	text-align: left;
 	color: #B4AEAE;
}
.movie-info span
 {
	border: 2px solid #31B404;
	padding: 5px;
	border-radius: 10%;
    color: #31B404;
     font-size: 12px;
    margin-right: 13px;
    
}
.movie-info h2{
    color: darkgray;
    font-size: 12px;

}
.movie-info button
{
	display: block;
	margin-bottom: 10px;
	margin-top: 10px; 
	background-color: #E6AD1C;
	border: 1px solid #E6AD1C; 
	height: 30px;
	width: 120px;
	color: white;
	font-size: 10px;
	text-transform: uppercase;
	margin-left:-1px;
}

.movie-info input
{
	display: block;
	margin-bottom: 10px;
	margin-top: 10px; 
	background-color: #E6AD1C;
	border: 1px solid #E6AD1C; 
	height: 30px;
	width: 120px;
	color: white;
	font-size: 10px;
	text-transform: uppercase;
	margin-left:-1px;
}
.contenido #l
{
	display: block;
	margin-bottom: 10px;
	margin-top: 10px; 
	background-color: #E6AD1C;
	border: 1px solid #E6AD1C; 
	height: 40px;
	width: 120px;
	color: white;
	font-size: 11px;
	text-transform: uppercase;
	margin-left:27px;
    
}
.movie-info #l
{
	background-color: #E9D925;
 }

.movie-info table
{
	margin-top: 10px;
}
.movie-info table td
{padding-left: 34px;
}

.movie-info table, p ,h1
{
	text-align: left;
    color:#B4AEAE;
}

.movie-info table, p
{

font-size: 14px;

}
.movie-info h1
{
	border-bottom: 2px solid #B4AEAE;
	padding-bottom: 10px;
	margin-bottom: 20px;
    margin-top: 15px;
    
    font-size: 30px;
}

.contenido h2
{
	margin-left: 25px;
    font-size: 35px;
    margin-top: 10px;
   
}
.contenido h1
{
	margin-left: 25px;
 
}
.ultimo
{ 
    margin-left:-150px;
    background-color: darkgray;
    
   
}


.ultimo1
{ 
    margin-left:15px;
    color: black;
   
}
.ultimo2
{ 
    margin-left:15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
   
}
.hero i {
    color: white;
    position: relative;
    bottom: 34px;
    left: 1px;
    
}

.copy { 
    margin-left: 15px;
    margin-top: 15px;
    color: black;
   
}
.contenido h3
{ 
    font-size: 25px;
    color: darkgray
   
}
.contenido i {
    color: white;
    position: relative;
    left: 30px;
    bottom: 40px;
}
.contenido ul
{ 
    text-decoration: none;
    list-style: none;
   
}
.contenido span{
    color: darkgray;
    font-size: 12px;
}
.contenido a {
    color: #E6AD1C;
    text-decoration: none;

    
}
.contenido{
    height: 250px;
    margin-left: -180px

}